<div class="flex relative lobby-wapper justify-center items-center h-screen">
    
    <div class="w-full">
        <button title="Play Game" (click)="openSetting()" class="setting-btn !p-0 shadow-lg rounded-full" mat-icon-button>
            <span class=" material-icons">
                settings
            </span>
        </button>
        <button title="Play Game" routerLink="/game-play" class="wave-button mat-icon-button" mat-icon-button>
            <span class="material-icons">
                play_arrow
            </span>
        </button>
    </div>
</div>